#Ignore virtual environment
.venv/

#Ignore cache
__pycache__/

#Ignore raw data
data/raw/*.csv

# Ignore LaTeX build temporary files
reports/*.aux
reports/*.log
reports/*.out
reports/*.toc
reports/*.fls
reports/*.fdb_latexmk
reports/*.synctex.gz